<div>
  <link href="./game-page-puzzle.css" rel="stylesheet" />
  <div class="game-page-puzzle-game-page">
    <div class="game-page-puzzle-title">
      <h1 id="top.jumpandrun" class="game-page-puzzle-text">
        <span>Puzzle</span>
      </h1>
    </div>
    <div class="game-page-puzzle-game-container">
      <div class="game-page-puzzle-container">
        <a href="block-the-pig.html" class="game-page-puzzle-navlink">
          <img
            alt="image"
            src="/playground_assets/block-the-pig-300h.png"
            class="game-page-puzzle-image"
          />
        </a>
        <span class="game-page-puzzle-text01"><span>Block The Pig</span></span>
      </div>
      <div class="game-page-puzzle-container1">
        <a href="circloo.html" class="game-page-puzzle-navlink1">
          <img
            alt="image"
            src="/playground_assets/circloo-300h.png"
            class="game-page-puzzle-image1"
          />
        </a>
        <span class="game-page-puzzle-text02"><span>CircloO</span></span>
      </div>
      <div class="game-page-puzzle-container2">
        <a href="guess-the-kitty.html" class="game-page-puzzle-navlink2">
          <img
            alt="image"
            src="/playground_assets/guess-the-kitty-300h.png"
            class="game-page-puzzle-image2"
          />
        </a>
        <span class="game-page-puzzle-text03">
          <span>Guess The Kitty</span>
        </span>
      </div>
      <div class="game-page-puzzle-container3">
        <a href="the-impossible-quiz.html" class="game-page-puzzle-navlink3">
          <img
            alt="image"
            src="/playground_assets/the-impossible-quiz-300h.png"
            class="game-page-puzzle-image3"
          />
        </a>
        <span class="game-page-puzzle-text04">
          <span>The Impossible Quiz</span>
        </span>
      </div>
    </div>
    <div class="game-page-puzzle-game-container1">
      <div class="game-page-puzzle-container4">
        <a href="bloxorz.html" class="game-page-puzzle-navlink4">
          <img
            alt="image"
            src="/playground_assets/bloxorz-300h.png"
            class="game-page-puzzle-image4"
          />
        </a>
        <span class="game-page-puzzle-text05"><span>Bloxorz</span></span>
      </div>
      <div class="game-page-puzzle-container5">
        <a href="bottle-flip-3d.html" class="game-page-puzzle-navlink5">
          <img
            alt="image"
            src="/playground_assets/bottle-flip-3d-300h.png"
            class="game-page-puzzle-image5"
          />
        </a>
        <span class="game-page-puzzle-text06"><span>Bottle Flip 3D</span></span>
      </div>
      <div class="game-page-puzzle-container6">
        <a href="worlds-hardest-game.html" class="game-page-puzzle-navlink6">
          <img
            alt="image"
            src="/playground_assets/worlds-hardest-game-300h.png"
            class="game-page-puzzle-image6"
          />
        </a>
        <span class="game-page-puzzle-text07"><span>World's Game</span></span>
      </div>
      <div class="game-page-puzzle-container7">
        <a href="checkers-legend.html" class="game-page-puzzle-navlink7">
          <img
            alt="image"
            src="/playground_assets/checkers-legend-300h.png"
            class="game-page-puzzle-image7"
          />
        </a>
        <span class="game-page-puzzle-text08">
          <span>Checkers Legend</span>
        </span>
      </div>
    </div>
    <footer class="game-page-puzzle-footer">
      <a href="#top.jumpandrun" class="game-page-puzzle-link">
        <h1 class="game-page-puzzle-text09"><span></span></h1>
      </a>
    </footer>
  </div>
</div>
